{% include "header.html" %}

<div class="chooser text-center">
  <h3>Choose your DataRobot Project</h3> 
  <form method="post" action="/approach">
    <div class="input-group" style="margin: 0 auto; width: 600px;">
        <select name="projectId" class="form-control">
           {% for proj in projects %}
              <option value="{{ proj.id }}">{{ proj.project_name }}</option>
           {% endfor %}
        </select>
        <div class="input-group-btn">
           <button type="submit" class="btn btn-danger">Analyse</button>
        </div>
    </div>
  </form>
</div>

<div class="controlpanel text-center">
     <h3>No Analysis Modules</h3>
     <p>The selected project type does not have any available analysis modules.</p>
</div>

{% include "basic_model_list.html" %}

{% include "footer.html" %}
